.vscode
.DS_Store
__pycache__
.ipynb_checkpoints
vanilla_deployments
mlops_udacity
eda_fe_summary
artifacts
#exported_artifacts/*.pickle
customer_churn_production
music_genre_classification
#logs/*
build
census_salary.egg*
ecs-admin_accessKeys.csv
ecs-admin_credentials.csv